body {
    font-family: 'Open Sans' , sans-serif;
    font-size: 16px;
    line-height: 1px;
}

header {
    font-family: sans-serif;
    font-size: 16;
    line-height: 1px;
    text-align: center;
}

.mainDiv {
    font-family: 'Open Sans' , sans-serif;
    font-size: 16px;
    line-height: 1px;
}